@keyframes title-animate{
  0% {color: darkblue;}
   33% {color: cornflowerblue;}
   66% {color: deepskyblue;}
   100% {color: lightskyblue;}
}

h1{
  width: 35%;
  padding: 0px;
  border-bottom: 2px solid darkblue;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  animation-name: title-animate;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


img{
  width: 10em;
  height: 10em;
  padding: 0;
  border: 0em;
  margin: 0em;
}

#planets{
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

td, th{
  padding: 8px;
    border: 1px solid black;
  text-align: center;
  font-family: Arial, sans-serif;
}

#planets th{
  background-color: grey;
  border: 0px;
}

.planet-titles{
  font-size: 2em;
  font-weight: bold;
}

.flowerblue{
  background-color: cornflowerblue;
  font-size: 1em;
}

.lightblue{
  background-color: lightskyblue;
  font-size: 1em;
}

.side-titles{
  font-size: 1.25em;
  font-weight: bold;
  text-align: left;
}

.flowerblue:hover{
  background-color: deepskyblue;
  font-weight: bold;
}

.lightblue:hover{
  background-color: deepskyblue;
  font-weight: bold;
}

.side-titles:hover{
  background-color: deepskyblue;
  font-weight: bold;
}

.imageblack{
  background-color: black;
}

a {
  box-shadow: inset 0 0 0 0 deepskyblue;
  color: deepskyblue;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
  }
a:hover {
  text-decoration: none;
  box-shadow: inset 125px 0 0 0 deepskyblue;
  color: white;
}
a:link {
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}

body, html {
  min-height: 100%;
}

body {
  background-image: url(../images/sunrise.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
