h1{
  width: 35%;
  padding: 0px;
  border-bottom: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

img{
  width: 10em;
  padding: 0;
  border: 0em;
  margin: 0em;
}

#planets{
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

td, th{
  padding: 8px;
    border: 1px solid black;
  text-align: center;
}

#planets th{
  background-color: grey;
  border: 0px;
}

.hover-data:hover td{
  background-color: deepskyblue;
}

.planet-titles{
  font-size: 2em;
  font-weight: bold;
}

.side-titles{
  font-size: 1.25em;
  font-weight: bold;
}

.side-titles-column{
  background-color: cornflowerblue;
  text-align: left;
}

.side-titles-first{
  background-color: black;
}
.flowerblue{
  background-color: cornflowerblue;
  font-size: 1em;
}

.lightblue{
  background-color: lightskyblue;
  font-size: 1em;
}

.imageblack{
  background-color: black;
}

a {
  box-shadow: inset 0 0 0 0 deepskyblue;
  color: deepskyblue;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
  }
a:hover {
  text-decoration: none;
  box-shadow: inset 100px 0 0 0 deepskyblue;
  color: white;
}
a:link {
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:active{
    text-decoration: none;
}

body {
    background-color: magenta;
}
